#tukuDialog{
    width: 680px;
    height: 495px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -60%);
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
    display: none;
    animation-name: tuku;
    animation-duration: 0.4s;
}
@keyframes tuku {
    from{opacity: 0.1};
    to{opacity: 1}
}
.tukuDialogHead{
    font-size: 16px;
    padding: 0px 0px 10px 10px;
}
.dialogIcons{
    padding: 0px 3px;
}
.galleryContent{
    height: 415px;
}
.galleryPhotoCss{
    width: 25%;
    text-align: center;
    float: left;
}
.grlleryCard{
    width: 150px;
    height: 84px;
    border-radius: 5px;
    line-height: 70px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    margin: 10px;
}
.grlleryCard:hover{
    transform: scale(1.06);
    transition-duration: 0.3s;
}
.galleryLineBottomCss{
    width: 660px;
    display: inline-block;
    height: 1px;
    margin: 0px 10px;
    background: rgb(218 216 216);
}
.galleryBtnCss{
    background: transparent;
    outline: none;
    margin: 10px;
    padding: 5px 17px;;
    border-radius: 3px;
    cursor: pointer;
}
.gujiaCss{
    height: 415px;
    text-align: center;
    position: relative;
    animation: gujia 0.9s infinite;
}
@keyframes gujia {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.9;
    }
}
.headIcons{
    float: right;
    padding-right: 10px;
    cursor: pointer;
    padding-top: 5px;
}
.tukuLogoCss{
    width: 20px;
    position: absolute;
    top: 12px;
    left: 18px;
}
#gallerysSelectCss{
    position: relative;
    left: 5px;
    width: 140px;
    height: 25px;
    border: 1px solid #dcdce2;
    background: transparent;
    border-radius: 5px;
    color: #5a5858;
    outline: none;
    padding: 0 10px;
}
#gallerysSelectCss option{
    color: #5a5858;
}
.pageNumCss{
    display: inline-block;
    /* float: right; */
    padding-right: 10px;
    font-size: 14px;
    padding-top: 15px;
}
.inputPageCss{
    display: inline-block;
    padding: 11px 20px;
    /* float: right; */
    font-size: 13px;
}
#pageInput{
    width: 70px;
    height: 28px;
    text-align: center;
    background: transparent;
    outline: none;
    border-radius: 3px;
    margin: 0px 5px;
    padding: 0px 5px;
}
.loading{
    width: 80px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 45%;
    display: none;
    transform: translate(-50%, -50%);
}
.loading span{
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: load 1s ease infinite;
}
@-webkit-keyframes load{
    0%,100%{
        height: 40px;
        background: lightgreen;
    }
    50%{
        height: 70px;
        margin: -15px 0;
        background: lightblue;
    }
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.2s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.4s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.6s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.8s;
}